<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/nstyle.css">
    <title>ID y class</title>
</head>
<body>
    <h2>This is a title</h2>
    <h2 id="Right"> this is another title</h2>

    <p class="azulito">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat officia ipsa ex recusandae consequuntur. Modi cum fugiat, maiores laboriosam nostrum illum expedita porro, nobis excepturi necessitatibus quisquam, maxime exercitationem perferendis?
    </p>
    <p class="otro">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis, quidem accusamus! Voluptatibus soluta blanditiis ratione? Neque deserunt vel veniam placeat aliquid odio esse sapiente nesciunt ex iusto, quaerat consequatur quae.
    </p>
    <p class="folklore">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum asperiores sint possimus voluptatem, accusamus velit sequi nemo dolore obcaecati laudantium soluta minima temporibus architecto impedit optio enim veniam, voluptate neque?
    </p>
   
    <div class="esopo">
        <h2>Biografía Esopo</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Aesop_pushkin01.jpg/640px-Aesop_pushkin01.jpg">
        <p>(S.VI a.C.) Escritor griego. Uno de los más antiguos géneros de la literatura universal es la fábula, un tipo de relato breve protagonizado por animales personificados cuya finalidad didáctica se explicita en una moraleja final. La Grecia clásica atribuyó a Esopo la invención de este género, igual que asignó a Homero la paternidad de la épica</p>
        <p>Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="homero">Homero como cantor de las gestas de los héroes</span>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.</p>

    </div>
</body>
</html>
