<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fábula</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAABKUlEQVRIS+2X0RGCMAyGYQIdATdwBB3BDXQD3cAV3AAn0A1kAx2BDXQE83vNXcASwhHlpbnjgDbka9KkLXk2keQTcbMu8JwGtAzX2LE9yEDVNhIDF6R0cYIy70oPGwmPgW+ksBrrZuT7BbXV3N4GI8TP0FnS/WAYAAaKaZGypheEGA4gehC0VV1gKMIQBKFBiPokFiGGSHtmcENRoSewnM8UalNWD00uGC3C9ZesPoayQ91C9qFeuY65PN3LSavznyZXAssIpFCb6hghe/VtTYZ+bLVyGf28tPdjOScGm4NUzHUMb8tBpnXlE3XXrKJ5vHMGN4alHX2+DmiO3kePt3cCyDOUR4JxcvF6HgUXpIWFHXdPUZNLgrYBPnOin8mO6rETRzcz2b/TG2Vcax8WHmHLAAAAAElFTkSuQmCC"/>
</head>
<body>
    <h1>La lechera y su cántaro</h1>

    <table>
        <tr>
            <td><img src="https://1.bp.blogspot.com/-WpTdUWgcffg/XzbRRVfGuwI/AAAAAAAABI0/jm_XZ8sqP5glg2szbtV1wfIe22yeqG_VwCLcBGAsYHQ/s1600/la-lechera-esopo-parte-1.jpg">
            </td>
            <td></td>
            <td>
                <p id="p2">
                    Había una vez una joven lechera que caminaba con un cántaro de leche para vender en el mercado del pueblo. Mientras caminaba pensaba en todas las cosas que haría con el dinero de la venta: 
                </p>
            </td>
        </tr>
    </table>
    <p id="p3">
        —Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo.

Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando toda la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.
    </p>

    <p id="p4">
        Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad.
    </p>

    <h3>Tomado de <a href="https://arbolabc.com/fabulas-para-ni%C3%B1os/la-lechera"> aquí</a></h3>
</body>
</html>