<!DOCTYPE html>

<html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="Valeria Ferreira" content="Harry Styles">
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAelJREFUSEvt1jvIj2EYx/HPyzs5DIbXohQlZbAop8VhoChvYjApm4GyOBWFgSiTyUwMZFB6KTktJAZJBsqABYMihyS6uB89PZ7T/+/5919c4/Nc9/X93fd9He4RQ7KRIXH1At6AhbiKB/8quBfwB0xLwKc4izN42Y+IXsA/SgDx7VYScAEf24roB/wQY5hdgHzFRZxP1/G9TkQ/4EM4gpXYhk2YUoC8SQLiKkLoX9YP+DACnlnc+5YkYnkJ4xlO4nT+XxfgfLx5ScBWzCqIWIBIyl/WNTiLOwlrsAtr08dVKREHCs4ERB7c/A+uuuPJWIGdmIrHOJdrk8WsrivX1kcdoOtYWhNtIOBL2NjQ9joHxy7vtui1nYN348QwwPtwrAU4/I6X+EV+bEZ0rU+4jxdpcoV7ZQOJZh/TpcnGcbngNB93MLNmcSV4Op43LH6N6Mefc4AYEo8wt0FxbcuM/jqB6LVF+4LVJQm4H0ebjqnuqLO163GgUMs30gy+XQK4gnVdgLMYixDH/xZPagJfS5Ooib0M9zKnXsZiVeBT2NFExQy87xK8JL+TCgHREaNq/lgXO45g8QY7WAGNWl6Md4MAR8w92I45CfAN8eTdi1dFUV3tOIs7injwRTnGIy/qvtS6BrfIsd8uPwHgFnEfgLMkHwAAAABJRU5ErkJggg==">
        
        <title>Harry Styles</title>
    </head> 

    <body>
        <h1>Harry Styles </h1>
        
        <img src="../assets/img/harry.jpg" width="350" height="230">
        <h3>¿Quién es?</h3>
        <p>
            Harry Edward Styles (Holmes Chapel, Cheshire; 1 de febrero de 1994) es un cantante, compositor y actor británico. Inició su carrera como cantante en 2010 
            como integrante de la boy band One Direction, con la que participó en el programa The X Factor y quedó en tercer lugar.1​ Pese a no ganar, la agrupación firmó 
            un contrato discográfico con el sello Syco, con el que publicaron los álbumes Up All Night (2011), Take Me Home (2012), Midnight Memories (2013), Four (2014) 
            y Made in the A.M. (2015), los cuales alcanzaron la primera posición en las listas de los más vendidos en numerosos países, entre estos los Estados Unidos y 
            el Reino Unido, además de registrar altas ventas.

        </p>
        <h3> Después de One Direction</h3>
      <p>
          Luego de que One Direction anunciara un descanso indefinido, Styles inició su carrera como solista con la publicación de su álbum homónimo en 2017, el cual 
          recibió buenos comentarios de la crítica y debutó en la cima de las listas de los principales mercados del mundo.4​ Del disco se lanzó como sencillo el tema 
          <strong>Sign of the Times</strong>, que llegó al puesto número 1 en el Reino Unido y al 4 en los Estados Unidos.​ Gracias a dicha canción ganó su primer galardón 
          en los premios Brit.​ 
          <br>
          En 2019, lanzó su segundo álbum como solista, Fine Line, que tuvo buenas críticas y alcanzó la primera posición en varios países con récords 
          en ventas. Del álbum fueron lanzados como sencillos los temas «Lights Up» y «Adore You», que ingresaron al top 10 en el Reino Unido.​ 
     
          Asimismo, fue lanzado como sencillo <strong>Watermelon Sugar</strong>, que se convirtió en su primera canción en alcanzar el número 1 del Billboard Hot 100 de los 
          Estados Unidos y le valió el Grammy a la mejor interpretación de solista pop, así como su segundo premio Brit. 
          <br>

          En el año 2022, Harry saca su tercer álbum denominado <strong>Harry's House</strong> y, gracias a el, gana varios premios Grammy, incluido el Grammy a mejor álbum del año.
      </p>
        <h3>Love On Tour</h3>
        <p> En el año 2019, junto con el disco <u>fine line</u>, Harry anuncia su segunda gira mundial, denominada <strong>Love On Tour</strong> la cual iba a tener
        fechas en Estados Unidos, Canada, Europa, Asia, Oceania y Latinoamérica, cerrándola el 19 de octubre del 2020, en Bootá, sin embargo, por culpa de la pandemia tuvo que reprogramarla.
        </p>
      <p>
        Para el año 2021, Harry empezó una pequeña gira por Estados Unidos, y proximamente, en enero del año 2022, anuncia sus fechas internacionales, incluyendo Europa, Asia, latinoamerica y Oceanía.
        <br>
        El Love On Tour terminó en junio del año 2023 y es catalogado como una de las giras más largas en la industria musical.
      </p>
        
        
      <h3>Relaciones</h3>
      <p>Una de las relaciones más conocidas de Harry es <a href="./taylor.html">Taylor Swift</a></p>
    </body>
</html>
