<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Quiz" content="Juego de stop">
    <link rel="icon" href="../assets/img/examen.png">
        
    <title>Quiz</title>
</head>

<body>
    <table border="2">
        <caption align="center">Quiz</caption>
        <tr style="border: 100px;">
            <th>L</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cosa</th>
            <th>Color</th>
            <th>Lugar</th>
            <th>Atributo HTML</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>V</td>
            <td>Valeria</td>
            <td>Vanegas</td>
            <td><img src="../assets/img/vaso.jpg"></td>
            <td bgcolor="green"> </td>
            <td>venecia</td>
            <td><i><u>value</u></i></td>
            <td>1</td>
        </tr>

        <tr>
            <td>D</td>
            <td>Danna</td>
            <td>Diaz</td>
            <td><img src="../assets/img/dado.avif" width = "80" height="80"></td>
            <td bgcolor="gold"> </td>
            <td>dinamarca</td>
            <td><i><u>dir</u></i></td>
            <td>1</td>
        </tr>

        <tr>
            <td>U</td>
            <td>Uriel</td>
            <td>Ulloa</td>
            <td> <img src="../assets/img/uva_g.jpg" width="100" height="150"> </td>
            <td bgcolor="darkmagenta"> </td>
            <td>ucrania</td>
            <td><i><u>usemap</u></i></td>
            <td>1</td>
        </tr>
        
        <tr>
            <td>X</td>
            <td>Xavier </td>
            <td>Xiong</td>
            <td><img src="../assets/img/X.jpeg" width="150" height="100"></td>
            <td bgcolor="#738678"> Xanadu</td>
            <td>xeraco</td>
            <td><i><u>xml</u></i></td>
            <td>1</td>
        </tr>

        <tr>
            <td>R</td>
            <td>Ricardo</td>
            <td>Rincon</td>
            <td><img src="../assets/img/rat.jpeg" width="100" height="150"></td>
            <td bgcolor="pink"> </td>
            <td>rusia</td>
            <td><i><u>rowspan</u></i></td>
            <td>1</td>
        </tr>
    </table>
</body>
</html>